
@primaryColor: #F28B24;
@secondaryColor: #000000;
@cloudyGrey:#726E6E;
@blackCat:#3F3F3F;
@fuelYellow:#F2B024;
@white:#ffffff;
@vistaWhite:#FFF7F4;
@greyCloud:#BABABA;
@seaGreen:#269A59;
@pineGreen:#098753;
@shipGrey:#444444;
@davyGrey:#605B5B;
@sandyBeach:#FFE5CC;
html {
    font-size: 16px;
    height: 100%;

    @media screen {
        @media (max-width: 576px) {
            font-size: 15px;
        }
    }
}

body {
    font-family: "Roboto", sans-serif !important;
    height: 100%;
    .anton-font {
        font-family: "Anton", sans-serif !important;
        font-weight: 400;
    }
    .scop-one-font {
        font-family: "Scope One", serif !important;
        font-weight: 400;
    }
}

// Font Size Loop (fs-)
.fs-loop(@j) when (@j <= 100) {
    @size: (@j / 16); // Convert px to rem

    .fs-@{j} {
        font-size: @size * 1rem !important;
    }

    .fs-loop(@j + 1); // Recursive call
}
// Start from 5 instead of 10 (if intended)
.fs-loop(5);
// Font Weight Loop (fw-)
.fw-loop(@i) when (@i < 10) {
    // Ensure 10 is included
    @weight: @i * 100;

    .fw-@{weight} {
        font-weight: @weight !important;
    }

    .fw-loop(@i + 1); // Recursive call
}
// Start from 1
.fw-loop(1);

.bg-color-primary {
    background-color: @primaryColor !important;
}
.bg-color-secondary {
    background-color: @secondaryColor !important;
}
.bg-color-cloudy-grey {
    background-color: @cloudyGrey !important;
}
.bg-color-black-cat {
    background-color: @blackCat !important;
}
.bg-color-fuel-yellow {
    background-color: @fuelYellow !important;
}
.bg-color-vista-white {
    background-color: @vistaWhite !important;
}
.bg-color-grey-cloud {
    background-color: @greyCloud !important;
}
.bg-color-sea-green {
    background-color: @seaGreen !important;
}
.bg-color-pine-green {
    background-color: @pineGreen !important;
}
.bg-color-ship-grey {
    background-color: @shipGrey !important;
}
.bg-color-davy-grey {
    background-color: @davyGrey !important;
}

.bg-color-sandy-beach {
    background-color: @sandyBeach !important;
}

.font-color-primary {
    color: @primaryColor !important;
}
.font-color-secondary {
    color: @secondaryColor !important;
}

.font-color-cloudy-grey {
    color: @cloudyGrey !important;
}

.font-color-black-cat {
    color: @blackCat !important;
}
.font-color-fuel-yellow {
    color: @fuelYellow !important;
}
.font-color-grey-cloud {
    color: @greyCloud !important;
}
.font-color-sea-green {
    color: @seaGreen !important;
}
.font-color-pine-green {
    color: @pineGreen !important;
}
.font-color-ship-grey {
    color: @shipGrey !important;
}
.font-color-davy-grey {
    color: @davyGrey !important;
}
.font-color-sandy-beach {
    color: @sandyBeach !important;
}